/* Variables */

$color-one: #c0c0c0;
$color-two: #FFD700;
$color-three: #ff5252;

$color-light: #ffffff;
$color-dark: #2c2c54;

$font-cursive: 'Caveat', cursive;
$font-serif: 'Nanum Myeongjo', serif;
$font-sans: 'Roboto', sans-serif;

$transition: all 1s;

/* Global */

html {
    font-size: 20px;
}

body {
    font-family: $font-sans;
    margin: 0;
    text-align: center;
    background-color: $color-light;
    line-height: 1.7;
    font-family: $font-sans;
} 

section {
    padding: 96px 0;   
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;        
}

.parent{
    background-image: url('https://images.pexels.com/photos/4577692/pexels-photo-4577692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 66vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }

/* Navigation */

#silver {
    font-family: $font-cursive;
    color: $color-one;
    font-style: italic; 
    font-size: 48px;
}

#silver:hover {
    color: $color-two;
    transition: $transition;
    cursor: default;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation li {
    display: inline;
    margin-right: 36px;
}

.navigation a {
    text-decoration: none;
    color: $color-light;
}

.navigation a:hover {
    color: $color-two;
    transition: $transition;
}

/* Splash */

.page-title {
    margin-top: 1rem;
    font-family: $font-serif;
    color: $color-light;
}

.page-subtitle {
    margin: 0;
    padding: 0;
    font-family: $font-sans;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-light;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px 32px;
    border-radius: 3px;
    font-family: $font-sans;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color:$color-light;
    background: $color-one;
    transition: $transition;
}

.btn:hover {
    background: $color-two;
}

/* services */

.section-title {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

.section-text {
    font-family: $font-serif;
    color: $color-one;
    // font-size: 1rem;
    font-style: italic;
    margin: 0 0 1rem 0;
}

.box {
    margin: 2rem 0;
}

.services i {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    color: $color-one;
    border-radius: 50%;
    // box-shadow: 0px 0px 10px $color-one;
    border: 2px solid $color-one;
 }

.services i:hover {
    color: $color-two;
    // box-shadow: 0px 0px 5px $color-two;
    border: 2px solid $color-two;
    transition: $transition;
}

.subsection-title {
    font-size: 1.5rem;
    margin: 0;
}

.main-text {
    font-family: $font-serif;
    color: $color-one;
    font-size: 0.75rem;
}

/* Portfolio */

.portfolio {
    background: #f7f7f7;
}

.skill-image {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill-image img:hover {
    transform: scale(2);
    transition: $transition;
}

.skill-description {
    padding: 1rem;
    background: $color-light;
}

.portfolio-box {
    max-height: 450px;
    margin: 0;
}

.portfolio-title {
    font-size: 1rem;
    line-height: 1;
    margin: 0;
}

.portfolio-text {
    margin: 0;
    font-family: $font-serif;
    color: $color-one;
    font-size: 0.75rem;
}

/* Footer */


.footer {
    font-size: 16px;
    min-height: 24px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.footer li {
    display: inline-block;
    font-size: 0;
    padding: 12px;
    transition: $transition;
}

.footer li:hover {
    transform: scale(1.2);
}

.footer i {
    font-size: 1rem;
    background: $color-dark; 
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    color: $color-light;
    border-radius: 50%;
 }
